@font-face {
  font-family: "Oswald";
  src: url("Oswald-VariableFont_wght.otf");
}

@font-face {
  font-family: "Sen";
  src: url("Sen-Regular.otf");
}

@font-face {
  font-family: "Permanent Marker";
  src: url("PermanentMarker-Regular.otf");
}
