* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  font-family: 'Sen', sans-serif;
}

body {
  background: whitesmoke;
}

a {
  color: #3e488a;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: #7f0070;
  }
}
